<image-gallery data-id="{{ block.id }}">
<script defer src={{ 'app-block.js' | asset_url }}></script>

<p>--------------------------Extension Boundaries--------------------------</p>


  {% comment %}<p>Nates testing stuff here</p>{% endcomment %}
  {% comment %}<h2>{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})</h2>{% endcomment %}
  {% comment %}<p>Nates testing ends here</p>{% endcomment %}


  {%- if block.settings.heading -%}
    <h2>{{ cart.total_price | money }}</h2>
  {%- endif -%}

  {%- if block.settings.description -%}
      <p>{{block.settings.description}}</p>
  {%- endif -%}



{% for collection in product.collections %}
  {% for product in collection.products %}

{% comment %} Might be good to add a conditional here
  if product already in cart, change button from add to cart to remove from cart {% endcomment %}

  {{ product.title }}
  <br>
  {% for option in product.options %}
    <label>
      {% for variant in product.variants %}

        {% assign isInCart = false %}
        {%for item in cart.items %}
          {% if item.id == variant.id %}
            {% assign isInCart = true %}
          {% endif %}
        {% endfor %}


        {% if isInCart %}

          <a id="removeLink" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">Remove item</a>

          {% comment %} <button id="add-{{ collections['hat'].id }}" onclick="removeItemFromCart({{variant.id}}); return false;">Remove from cart</button> {% endcomment %}
        {% else %}
          <button id="add-{{ collections['hat'].id }}" onclick="addItemToCart({{variant.id}}); return false;">Add to cart</button>
        {% endif %}



      {{ variant.title }} - {{ variant.price | money }}
        <br>
      {% endfor %}


    <br>
    </label>
    {% endfor %}


  {% endfor %}
  {% endfor %}
<br>
{% comment %} <button id="add-{{ collections['hat'].id }}" onclick="addAllItems('{% for product in collections['hat'].products %}{{ product.selected_or_first_available_variant.id }}{% unless forloop.last %},{% endunless %}{% endfor %}'); return false;">Add to cart</button> {% endcomment %}




<p>--------------------------Extension Boundaries--------------------------</p>

</image-gallery>

{% schema %}
  {
    "name": "Image Gallery",
    "target": "section",
    "stylesheet": "image-gallery.css",
    "javascript": "app-block.js",
    "templates": ["product", "index"],
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "PRODUCT_PRICE"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "This will display product options"
      }
    ]
  }
{% endschema %}

