<image-gallery data-id="{{ block.id }}">
<p>--------------------------Extension Boundaries--------------------------</p>
  {%- if block.settings.heading -%}
    <h2>{{ cart.total_price | money }}</h2>
  {%- endif -%}

  {%- if block.settings.description -%}
      <p>{{block.settings.description}}</p>
  {%- endif -%}


{% for collection in product.collections %}
  {% for product in collection.products %}

{% comment %} Might be good to add a conditional here

  if product already in cart, change button from add to cart to remove from cart {% endcomment %}

  {{ product.title }}
  {% for option in product.options %}
    <label>
    <select>
      {% for variant in product.variants %}
        <option>{{ variant.title }} - {{ variant.price | money }}</option>
      {% endfor %}
    </select>
    </label>
    {% endfor %}

  {% comment %} This form is what creates button and sends item to cart {% endcomment %}
  <form style="margin-bottom:20px" class="product-form" action="/cart/add" data-productid="{{product.id}}"  method="post">
  <input type="hidden" name="id" data-productid="{{product.id}}" class="product-select" value="{{ product.variants[0].id }}" data-variant-title="{{ product.variants[0].title }}" />
  <input type="submit" value="Add To Cart" class="btn btn btn-default" />
  <input type="hidden" name="return_to" value="back" />
  </form>

  {% endfor %}
  {% endfor %}






<p>--------------------------Extension Boundaries--------------------------</p>

</image-gallery>

{% schema %}
  {
    "name": "Image Gallery",
    "target": "section",
    "stylesheet": "image-gallery.css",
    "javascript": "image-gallery.js",
    "templates": ["product", "index"],
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "PRODUCT_PRICE"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "This will display product options"
      }
    ]
  }
{% endschema %}



